* {margin: 0; padding: 0;}

.clearfix { overflow: auto; }

a {text-decoration: none; color: red;}

body{
	margin: 0 auto;
	background-image: url("../img/book.jpg");
	background-repeat: no-repeat;
	background-size: 100% 720px;
}

.container{
	width: 500px;
	height: 450px;
	text-align: center;
	margin: 0 auto;
	background-color: rgba(44, 62, 80,0.7);
	margin-top: 160px;
	border-radius: 20px;
}

.container img{
	width: 150px;
	height: 150px;
	margin-top: -60px;
}

input[type="text"],input[type="password"]{
	margin-top: 30px;
	height: 45px;
	width: 300px;
	font-size: 18px;
	margin-bottom: 20px;
	background-color: #fff;
	padding-left: 40px;
}


.form-input input {
	border-radius: 20px;
}


.btn-login{
	padding: 15px 25px;
	border: none;
	background-color: #27ae60;
	color: #fff;
	border-radius: 20px;
}
.btn-login:hover{
	background: maroon;
	color: white;
}
.link {
	margin-top: 20px;
	font-size: 20px;

}